In [1]:
import cobra
from cobra import Model, Reaction, Metabolite
import pandas as pd
import cplex
import optlang
import math
import json
import sys
import os
import cProfile
from optlang.symbolics import Zero, add
import cobra.util.solver as sutil
from cobra.flux_analysis.parsimonious import pfba
from IPython.core.display import HTML
from configparser import ConfigParser
config = ConfigParser()
os.chdir('/Users/chenry/code/ProjectNotebooks/SynBioSFA')
config.read("config.cfg")
paths = config.get("script", "syspaths").split(";")
for path in paths:
    sys.path.append(path)
from modelseedpy import ElementUptakePkg, SimpleThermoPkg, ReactionUsePkg, BilevelPkg

In [2]:
model= cobra.io.read_sbml_model("iML1515.xml")
model.solver = 'optlang-cplex'
medium = {'EX_malt_e':10,
         'EX_so4_e':100,
         'EX_pi_e':100,
         'EX_mn2_e': 100,
         'EX_fe2_e': 100,
         'EX_na1_e': 100,
         'EX_mg2_e': 100,
         'EX_nh4_e': 100,
         'EX_k_e': 100,
         'EX_o2_e': 20,
         'EX_h2o_e': 100,
         'EX_h_e': 100,
         'EX_fe3_e': 100.0,
         'EX_zn2_e': 100.0,
         'EX_ca2_e': 100.0,
         'EX_ni2_e': 100.0,
         'EX_cu2_e': 100.0,
         'EX_sel_e': 100.0,
         'EX_cobalt2_e': 100.0,
         'EX_mobd_e': 100.0,
         'EX_cl_e': 100.0,
         'EX_cbl1_e':100,
         'EX_tungs_e': 100.0,
         'EX_slnt_e': 100.0
}
model.medium=medium

biomass_objective = model.problem.Objective(
    1 * model.reactions.BIOMASS_Ec_iML1515_WT_75p37M.flux_expression,
    direction='max')
model.objective = biomass_objective

sol=model.optimize()
model.summary()

In [3]:
model.reactions.EX_ac_e.knock_out()
sol=model.optimize()
model.summary()

In [4]:
model.reactions.EX_lac__D_e.knock_out()
sol=model.optimize()
model.summary()

In [5]:
model.reactions.EX_etoh_e.knock_out()
sol=model.optimize()
model.summary()

In [6]:
model.reactions.EX_hxa_e.knock_out()
sol=model.optimize()
model.summary()

In [7]:
model.reactions.EX_pyr_e.knock_out()
sol=model.optimize()
model.summary()

In [8]:
model.reactions.EX_acald_e.knock_out()
sol=model.optimize()
model.summary()

In [9]:
model.reactions.EX_ala__L_e.knock_out()
sol=model.optimize()
model.summary()

In [10]:
model.reactions.EX_val__L_e.knock_out()
sol=model.optimize()
model.summary()